<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <meta name="description" content="Ele serve para a divulgação das minhas habilidades profissionais">
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Cabeçalho -->
    <header id="inicio">
        <div class="Container Flex">
            <div id="logo">
                <img src="../img/logo.png" alt="foto MauricioBaron">
            </div>
            <nav>
                <input type="checkbox" id="check">
                <label for="check">&#x268c;</label>
                <ul>
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="#conteudo">Projetos</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Destaque -->
    <main>
        <div class="Container">
            <h1>PROJETOS</h1>
        </div>
    </main>
    <!-- Conteúdo -->
    <section id="conteudo">
        <div class="Container">
            <h2>Projetos</h2>
            <div class="Cards Flex4">
                <div class="Card">
                    <img src="../img/portifolio/teclado.jpg" alt="teclado">
                    <h3>LEITURA DE TECLADO POR VARREDURA</h3>
                    <p>Esta interface de entrada e largamente utilizada em sistemas eletrônicos</p>
                    <a href="https://github.com/Mauricio-Baron-Br/Leitura-de-Teclado-por-Varredura" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/grafico1.png" alt="grafico">
                    <h3>LEITURA-SENSOR-LUZ-EM-JAVA</h3>
                    <p>Projeto criado para monitorar um sensor LDR ligado na porta analógica
                        de um Arduino, enviando dados pela porta de comunicação USB
                    </p>
                    <a href="https://github.com/Mauricio-Baron-Br/Leitura-Sensor-Luz-Em-Java" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/jogonave.jpg" alt="jogo nave">
                    <h3>JOGO DE NAVE EM JAVA</h3>
                    <p>Este Jogo foi criado para realizar o aprendizado de java.
                    </p>
                    <a href="https://github.com/Mauricio-Baron-Br/JogoDePlataformaEmJava-ParaEstudo" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/ad.png" alt="analógico-digital">
                    <h3>CONVERSOR AD</h3>
                    <p>EPara este projeto será utilizado um método básico de utilização de um canal do conversor
                        analógico-digital do microcontrolador PIC16F877</p>
                    <a href="https://github.com/Mauricio-Baron-Br/ConversorAD" target="_blank" class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/displaySeteSegmento.png" alt="Display Sete Segmento">
                    <h3>DISPLAY SETE SEGMENTO</h3>
                    <p>O cricuito é composto basicamente por um display de 7 segmentos e duas tecla, além do pic16f877.
                    </p>
                    <a href="https://github.com/Mauricio-Baron-Br/DisplaySeteSegmento" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/lcd.png" alt="LCD">
                    <h3>UtilizacaoModuloLcdInteligente2x16</h3>
                    <p>Para este projeto será utilizado um método básico de utilização de um modulo de display LCD
                        inteligente </p>
                    <a href="https://github.com/Mauricio-Baron-Br/UtilizacaoModuloLcdInteligente2x16" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/MotorPasso.png" alt="Motor de Passo">
                    <h3>MotordePasso</h3>
                    <p> Será apresentado um método básico de acionamento de motores de passo utilizando o PIC. Neste
                        circuito a tecla determina o sentido do giro</p>
                    <a href="https://github.com/Mauricio-Baron-Br/Utilizacao-de-Motor-de-Passo" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/MotorPassoParametro.png" alt="Motor Passo Parametro">
                    <h3>FuncaoComPassagemDeParametros</h3>
                    <p>O motor será acionado utilizando uma tabela de constante onde estão os valores determinados para
                        acionar sequencialmente as bobinas. </p>
                    <a href="https://github.com/Mauricio-Baron-Br/FuncaoComPassagemDeParametros" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/grafico.png" alt="grafico">
                    <h3>GraficoBarras-Java-JFeeChart</h3>
                    <p> Estudo da biblioteca JFeeChart para craição de graficos!</p>
                    <a href="https://github.com/Mauricio-Baron-Br/GraficoBarras-Java-JFeeChart" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/pong.png" alt="JOGO-PONG_JAVA">
                    <h3>JOGO-PONG_JAVA</h3>
                    <p>Jogo criado para o estudo do JAVA, com captura de teclado
                        detecção de coalizão entre outros. </p>
                    <a href="https://github.com/Mauricio-Baron-Br/Pong-Java" target="_blank" class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/workshop.png" alt="workshop-javafx-jdbc">
                    <h3>workshop-javafx-jdbc</h3>
                    <p>Criado para o estudo do JAVA, e da biblioteca JDBC. </p>
                    <a href="https://github.com/Mauricio-Baron-Br/workshop-javafx-jdbc" target="_blank"
                        class="Botao">Saiba +</a>
                </div>
                <div class="Card">
                    <img src="../img/portifolio/telalogin.png" alt="Tela-de-Login-e-Cadastro">
                    <h3>Tela-de-Login-e-Cadastroc</h3>
                    <p>Com este projeto será apreendido; #desenvolvido uma tela de login e cadastro com animação CSS,
                        #utilizando apenas HTML e CSS.</p>
                    <a href="https://github.com/Mauricio-Baron-Br/Tela-de-Login-e-Cadastro" target="_blank"
                        class="Botao">Saiba +</a>
                </div>

            </div>
            <div id="todos">
                <a href="./views/projetos.html" target="_blank" class="Botao">Conheça Mais</a>
            </div>
        </div>
    </section>
    <!-- Rodapé -->
    <address>
        <div class="Container Flex6">
            <div id="contato">
                <a href="https://api.whatsapp.com/send?phone=5511012345678" target="_blank">
                    <img src="../img/whatsapp.png" alt="whatsapp" title="Abrir no WhatsApp">
                    <p>(11) 01234-5678</p>
                </a>
                <img src="../img/fone.png" alt="fone">
                <p>(11) 01234-5678</p>
            </div>
            <div>
                <a href="https://goo.gl/maps/mLpzArWKPpWZDgaD7"><img src="../img/mapa.png" alt="Mapa"
                        id="iconeMapa"></a>
                <img src="../img/local.png" alt="local" id="iconeLocal">
                <p>Rua Nome da rua, 1234</p>
                <p>Nome do bairro</p>
                <p>Jundiai</p>
                <p>São Paulo</p>
                <a href="mailto:mauriciobaron2014@gmail.com?subject=HTML5CSS3">
                    <img src="../img/email.png" alt="email" title="Enviar E-mail">
                    <p>mauriciobaron2014@gmail.com</p>
                </a>
                <!-- <p id="dados">&#128064; Endereço e dados de contato ficticios</p>-->

            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d117358.89756550858!2d-46.9067009!3d-23.18969855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x94cf24293cc00531%3A0xf686a1c1163c6bbb!2zSnVuZGlhw60gLSBBZ2xvbWVyYcOnw6NvIFVyYmFuYSBkZSBKdW5kaWHDrSwgSnVuZGlhw60gLSBTUA!3m2!1d-23.1856528!2d-46.8892222!5e0!3m2!1spt-BR!2sbr!4v1666394242199!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </address>
    <footer>
        <div class="Container Flex5">
            <div>
                <p>&#169;2022 - <a href="#" target="_blank">Mauricio Baron</a></p>
            </div>
            <div id="social">
                <a href="https://www.linkedin.com/in/mauricio-baron-jundiai-sp/" target="_blank"><img
                        src="../img/linkedin.png" alt="linkedin" /></a>
                <a href="https://github.com/Mauricio-Baron-Br" target="_blank"><img src="../img/" alt="" /></a>
            </div>
        </div>
    </footer>
    <a href="#inicio" id="topo"><img src="../img/topo.png" alt="topo do site"></a>
</body>

</html>